* {
	margin:0;
	padding:0;
}

body {
	font-family: 'Kreon', serif;
    	background:#fff;
	display:flex;
	align-items:center;
	justify-content:center;	
}

.container{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
}

.title {
grid-column:3;
margin:1rem 0;
}

.title h1{
	font-size:3.5rem
}
.title h3{
	margin-top:-.75rem;
	font-size:1.5rem
}

.about {
}


.portrait {
    	height:24rem;
	transform:rotate(2deg);
	border:6px solid black;
    	background:yellow;
	box-shadow:-16px -10px 0 #FF879D,10px 12px 0 cyan;
}

.portrait img {
    	height:100%;
	transform:rotate(-3deg)
}

.links {
	height:fit-content;
	grid-column:2/span 2;
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
}

.link {
	border:4px solid hotpink;
	font-size:2rem;
	padding:.5rem 1rem;
	color:black;
}

.contact {
	grid-column:3;
	transform:rotate(-3deg);
	border:5px solid black;
	font-size:2.3rem;
	padding:.5rem 1rem;
	color:black;
	font-weight:600;
	box-shadow:-16px -10px 0 cyan,10px 5px 0 #FF879D;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration:none;
}

.tooltip {
	min-width:12rem;
	position:absolute;
	font-size:1rem;
	border:4px solid black;
	padding:10px;
	background:white;
	z-index:10;
	top:0;
	right:0;
	box-shadow:-8px 8px 0 #00FF94,8px -8px 0 hotpink;
	visibility:hidden;
	transform: scale(0, 0) translate(100%,100%);
}


.link:hover .tooltip {
	transition-duration:1s;	
	transition-delay:400ms;	
	visibility:visible;
	transform:scale(1,1) translate(90%,-90%);
}

.left {
z-index:10;
}
