* {
	margin:0;
	padding:0;
}

body {
	font-family: 'Kreon', serif;
    	background:#fff;
	display:flex;
	align-items:center;
	justify-content:center;	
	flex-direction:column;
}

.container{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
}

.title {
grid-column:3;
margin:1rem 0;
}

.title h1{
	font-size:3.5rem
}
.title h3{
	margin-top:-.75rem;
	font-size:1.5rem
}

.about {
}

.portrait {
    	height:24rem;
	transform:rotate(2deg);
	border:6px solid black;
    	background:yellow;
	box-shadow:-16px -10px 0 #FF879D,10px 12px 0 cyan;
}

.portrait img {
    	height:100%;
	transform:rotate(-3deg)
}

.links {
	height:fit-content;
	grid-column:2/span 2;
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
}

.link {
	border:4px solid hotpink;
	font-size:2rem;
	padding:.5rem 1rem;
	color:black;
	white-space: nowrap;
}

.contact {
	grid-column:3;
	transform:rotate(-3deg);
	border:5px solid black;
	font-size:2.3rem;
	padding:.5rem 1rem;
	color:black;
	font-weight:600;
	box-shadow:-16px -10px 0 cyan,10px 5px 0 #FF879D;
	transition:250ms;
	cursor:pointer;
	z-index:10;
}

.contact:hover {
	
	transform:rotate(2deg);
	box-shadow:16px 10px 0 cyan,-10px -5px 0 #FF879D;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration:none;
}

button {
	font:inherit;
}

.tooltip {
	max-width:20rem;
	white-space: normal;
	min-width:12rem;
	position:absolute;
	font-size:1rem;
	border:4px solid black;
	padding:10px;
	background:white;
	z-index:10;
	top:0;
	right:0;
	box-shadow:8px -8px 0 cyan,-8px 8px 0 #ff879d;
	visibility:hidden;
	transform: scale(0, 0) translate(100%,100%);
}


.link:hover .tooltip {
	transition-duration:1s;	
	transition-delay:400ms;	
	visibility:visible;
	transform:scale(1,1) translate(90%,-90%);
}

.left {
	z-index:10;
}

.contact-container {
	width:30rem;
	outline:5px solid black;
	box-shadow:15px 15px 0 black;	
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	padding:2.5rem;
	background:yellow;
	grid-column:2/span 2;
	transform:scale(0,0) ;
	margin-top:-1rem;
transform-origin: top right;
	transition:400ms;
transition-timing-function: ease-in-out;
}

input,textarea {
	width:28rem;
	padding:.5rem .5rem;
	margin:.25rem;
	border:4px solid black;
	font:inherit;
	background:white;
}

#contact-message {
	min-height:7rem
}

#send {
	margin-top:1.5rem;
	transform:rotate(3deg);
	border:3px solid black;
	font-size:1.5rem;
	padding:.5rem 1rem;
	color:black;
	font-weight:600;
	box-shadow:-16px -10px 0 cyan,10px 5px 0 #FF879D;
	cursor:pointer;
	transition:250ms;
}

#send:hover {
	box-shadow:16px 10px 0 cyan,-10px -5px 0 #FF879D;
}

.hidden {
	transform:scale(1,1) ;
	transition:400ms;
}

@media all and (max-width:1000px){
	
	.container {
	grid-template-columns: 1fr ;
	}

	.title,.about,.links,.contact {
	margin-bottom:3rem;
	grid-column:1
	}	
	
	.link:hover .tooltip {
		visibility:hidden;
	}
	
	.link {
		padding:.25rem .5rem;
		font-size:1.1rem
	}
	
	.portrait {
		height:15rem		
	}
	.contact {
		font-size:1.5rem
	}

}

